body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f2f2f2;
        }

        header {
            background: #0099cc;
            color: rgb(25, 20, 20);
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: rgb(14, 0, 0);
            margin: 15px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            color: yellow;
        }

        .container {
            padding: 20px;
        }

        h2 {
            color: #0099cc;
        }

        .destinations {
            display: flex;
            gap: 20px;
        }

        .box {
            background-color: white;
            padding: 15px;
            width: 30%;
            border-radius: 8px;
            box-shadow: 0 0 5px gray;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid gray;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        form {
            background-color: white;
            padding: 10px;
            width: 40%;
            border-radius: 8px;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        input[type="submit"] {
            background-color: #0099cc;
            color: white;
            border: none;
            cursor: pointer;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }