/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== BODY ===== */
body {
    background: #f4f6f8;
}

/* ===== HEADER WITH IMAGE ===== */
header:first-of-type {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("travel.jpg");   /* HEADER IMAGE */
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: 40px;
}

header p {
    font-size: 18px;
}

/* ===== NAVBAR ===== */
nav {
    background: #1e5799;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* ===== CONTAINER ===== */
.container {
    padding: 40px;
}

h2 {
    color: #1e5799;
    margin-bottom: 20px;
}

/* ===== DESTINATION CARDS ===== */
.destinations {
    display: flex;
    gap: 20px;
}

.box {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 33%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.box:hover {
    transform: translateY(-5px);
}

.box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.box h3 {
    padding: 10px;
    color: #1e5799;
}

.box p {
    padding: 0 10px 15px;
}


/* ===== FORM ===== */
form {
    background: white;
    padding: 25px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
}

input[type="submit"] {
    background: #1e5799;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* ===== FOOTER ===== */
footer {
            background-color: #1e5799;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }